* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #00FFFF;
    --secondary-color: #FF00FF;
    --success-color: #00FF00;
    --bg-color: rgba(0, 0, 0, 0.6);
    --button-bg-hover: #000;
    --input-border-color: #00FFFF;
    --font-family: 'Press Start 2P', cursive;
    --font-family-alt: 'VT323', monospace;
    --font-size: 16px;
}

body, html {
    font-family: var(--font-family);
    color: var(--primary-color);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 800px;
    background-color: var(--bg-color);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.5);
    width: 70vw;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 2px solid var(--primary-color);
    border-radius: 10px 10px 0 0;
}

.chat-header h2 {
    font-size: 30px;
    color: var(--primary-color);
    text-shadow: 0 0 5px var(--primary-color);
}

#leave-button {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--secondary-color);
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

#leave-button i {
    font-size: 30px;
}

#leave-button:hover i {
    color: var(--primary-color);
    transform: scale(1.1);
}

#duel-button,  #duel-button-snake{
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: var(--font-size);
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    width: auto;
    margin-left: 10px;
}

#duel-button:hover, #duel-button-snake:hover {
    background-color: var(--primary-color);
    color: var(--button-bg-hover);
}


.chat-box {
    padding: 15px;
    overflow-y: scroll;
    height: 50vh;
    border: 1px solid var(--primary-color);
    box-shadow: inset 0 0 10px var(--primary-color);
    color: var(--primary-color);
    font-size: var(--font-size);
    flex-grow: 1;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

/* barra scroll*/
.chat-box::-webkit-scrollbar {
    width: 12px; 
}



.chat-box::-webkit-scrollbar-thumb {
    background: var(--primary-color); 
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5); 
}


.chat-box {
    scrollbar-width: thin; 
    scrollbar-color: var(--primary-color) rgba(0, 0, 0, 0.8);
}

.message {
    margin: 5px 0;
    padding: 10px;
    max-width: 60%;
    clear: both;
    border-radius: 5px;
    background-color: transparent;
    word-wrap: break-word;
    background-color: rgba(0, 0, 0, 0.8);
}

.own-message {
    color: var(--secondary-color);
    float: right;
    text-align: right;
    border-top-right-radius: 0;
}

.other-message {
    color: var(--primary-color);
    float: left;
    text-align: left;
    border-top-left-radius: 0;
}

.highlighted-player {
    font-weight: bold;
    color: #d295eb; 
    font-size: 14px;
    display: block;
    margin-bottom: 5px;
}

.highlighted-player-button {
    background-color: transparent;
    border: none;
    color: #d295eb;
    font-family: var(--font-family);
    font-size: 16px;
}

.highlighted-player-button:hover {
    color: var(--secondary-color);
}

.message-input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#message-input {
    background: transparent;
    border: 2px solid var(--input-border-color);
    color: var(--primary-color);
    padding: 10px;
    font-size: var(--font-size);
    flex-grow: 1;
    border-radius: 10px;
    margin-right: 10px;
    box-shadow: 0 0 10px var(--primary-color), inset 0 0 5px var(--primary-color);
    min-height: 80px; 
}

#message-input::placeholder {
    color: var(--secondary-color);
    text-shadow: 0 0 8px rgba(255, 0, 255, 0.7);
}

#message-input:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color), inset 0 0 10px var(--secondary-color);
}
#duel-message {
    float: left;
    text-align: left;
    border-top-left-radius: 0;
    background-color: transparent;
    color: #1105be;
    border: none;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

#accept-link {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

#accept-link:hover {
    background-color: #218838;
}

.button-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-panel button {
    background-color: var(--bg-color);
    border-radius: 10px;
    color: var(--primary-color);
    padding: 8px;
    font-size: var(--font-size);
    cursor: pointer;
    width: 40px; 
    height: 40px;
    border: 2px solid var(--primary-color);
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 5px; 
}
.duel-tournament-panel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    width: 100%;
}

.duel-tournament-panel button {
    flex: 1;
    text-align: center;
}

.button-panel button:hover {
    background-color: var(--primary-color);
    color: var(--button-bg-hover);
}

#block-button {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

#block-button:hover {
    background-color: var(--secondary-color);
    color: var(--button-bg-hover);
}

#unblock-button {
    border-color: var(--success-color);
    color: var(--success-color);
}

#unblock-button:hover {
    background-color: var(--success-color);
    color: var(--button-bg-hover);
}

.input-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
    margin-top: 10px;
    width: 100%;
}

#block-player-input, #unblock-player-input, #duel-player-input , #duel-player-input-snake{
    width: 30%; 
    padding: 10px;
    font-size: 14px;
    color: var(--secondary-color);
    background-color: transparent;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 0 10px var(--primary-color), inset 0 0 5px var(--primary-color);
    margin-right: 5px; 
}

#block-player-input::placeholder, #unblock-player-input::placeholder, #duel-player-input::placeholder, #duel-player-input-snake::placeholder {
    color: var(--secondary-color);
}

#block-player-input:focus, #unblock-player-input:focus, #duel-player-input:focus, #duel-player-input-snake:focus {
    outline: none;
    border-color: var(--secondary-color);
    box-shadow: 0 0 10px var(--secondary-color), inset 0 0 10px var(--secondary-color);
}

.confirm-button {
    width: 30%; 
    padding: 10px;
    font-size: 14px;
    border: 2px solid var(--secondary-color);
    color: var(--primary-color);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-right: 5px; 
}

.confirm-button:hover {
    background-color: var(--secondary-color);
    color: var(--button-bg-hover);
}

.confirm-button:active {
    transform: scale(0.95);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.create-button, .create-button-snake, #participate-tournament-button-snake, #participate-tournament-button  {
    background-color: var(--bg-color);
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    font-size: var(--font-size);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 2px;
    cursor: pointer;
    width: auto;
    margin-left: 10px;
}

.create-button:hover, .create-button-snake:hover, #participate-tournament-button-snake:hover, #participate-tournament-button:hover {
    background-color: var(--primary-color);
    color: var(--button-bg-hover);
}



@media (max-width: 768px) {
    .chat-box {
        height: 50vh;
    }

    .message {
        font-size: 14px;
    }

    #message-input {
        font-size: 14px;
    }

    .button-panel button {
        font-size: 14px;
    }
    .duel-tournament-panel button {
        font-size: 12px;
        padding: 6px;
        margin: 0;
        padding: 0;
    }
}

@media (max-width: 480px) {
    .chat-header h2 {
        font-size: 24px;
    }

    #leave-button i {
        font-size: 24px;
    }

    .chat-box {
        height: 40vh;
    }

    .button-panel button {
        padding: 6px 10px;
        font-size: 12px;
    }

    #message-input {
        font-size: 12px;
    }
}
