
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}


.menu h1 {
    font-size: 5vw;
    color: #00ff99;
    margin-bottom: 20px;
    text-shadow: 0 0 5px #13681a, 0 0 10px #096d2a, 0 0 20px #42c76a, 0 0 40px #44947c, 0 0 80px #ff3399;
    animation: pulsate 2s;
}



.menu h2 {
    color: #ff3399;
    text-shadow: 0 0 5px #ff3300, 0 0 10px #ff3300, 0 0 20px #ff3300, 0 0 40px #ff3399, 0 0 80px #ff3399;
    margin-top: -10px;
    font-size: 1.5vw;
    animation: fadeIn 2s ease-out;
}

@keyframes pulsate {
    from { font-size: 12vw; } 
    to { font-size: 5vw; } 
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}


.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


#startGameBtn {
    position: absolute;
    width: 7vw;
    height: 7vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#startGameBtn:hover {
    transform: scale(1.1);
}


#startGameBtn img {
    width: 30vw;

    height: auto;
    filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.3));
}


.background-form {
    background-color: rgba(0, 0, 0, 0.7); 
    border-radius: 10px;
    font-family: "VT323", monospace;
    font-size: 1.6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh; 
    width: 90vw; 
    max-width: 500px; 
    box-shadow: 0 4px 20px rgba(0, 255, 255, 0.5);
    border: 2px solid rgba(0, 255, 255, 0.7);
}


#form-startmenu img{
    width: 40vw;
    height: auto;
}

#form-startmenu button{
    margin: 2%;
    width: 50%;
    height: auto;
    font-size: 2.5vw;
}

#loginForm  {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;     
    padding: 20px; 
}

#loginForm h2 {
    font-size: 3.5vw;  
    margin-top: 10px;
    margin-bottom: 10%;   
    color: #00FFFF;  
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
}

#loginForm form {
    
    display: flex;
    flex-direction: column;
    width: 100%;  
    align-items: center; 
}

#loginForm input {
    width: 80%;  
    max-width: 300px;  
    margin-bottom: 15px;  
    padding: 10px;  
    font-size: 1vw;  
}

#loginForm button {

    margin-top: 5%;
    margin-bottom: 15%;
    width: 50%;
    height: auto;
    font-size: 2vw;
}

#loginForm button:hover {
    background-color: rgba(16, 248, 248, 0.5); 
}

#registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;     
    padding: 20px; 
}

#registerForm h2 {
    font-size: 3.5vw;  
    margin-top: 10px;
    margin-bottom: 10%;   
    color: #00FFFF;  
    text-shadow: 0 0 5px rgba(0, 255, 255, 0.5);
}

#registerForm form {
    
    display: flex;
    flex-direction: column;
    width: 100%;  
    align-items: center; 
}

#registerForm input {
    width: 80%;  
    max-width: 300px;  
    margin-bottom: 15px;  
    padding: 10px;  
    font-size: 1vw;  
}

#registerForm button {

    margin-top: 5%;
    margin-bottom: 15%;
    width: 50%;
    height: auto;
    font-size: 2vw;
}

#registerForm button:hover {
    background-color: rgba(16, 248, 248, 0.5); 
}

.form-control {
    align-items: center;
    justify-content: center;
    background: transparent;
    border: 2px solid #00FFFF;
    color: #00FFFF;
    padding: 2vw; 
    font-family: 'Press Start 2P', cursive;
    width: 70%;
    margin-bottom: 1.5vw; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5), inset 0 0 5px rgba(0, 255, 255, 0.5);
}

.form-control::placeholder {
    color: #FF00FF;
    text-shadow: 0 0 8px rgba(255, 0, 255, 0.7);
}

.form-control:focus {
    outline: none;
    border-color: #FF00FF;
    box-shadow: 0 0 10px rgba(0, 0, 255, 0.8), inset 0 0 10px rgba(0, 0, 255, 0.5);
}

.background-form img {
    max-width: 60%; 
    height: auto; 
}

.background-form button {
    font-family: "VT323", monospace;
    font-size: 3vw; 
    width: 40%;
    border-radius: 10px;
}

.background-form h2 {
    font-family: "VT323", monospace;
    font-size: 5vw; 
    margin-top: 1px;
    margin-bottom: 1.5vw; 
    color: #FF00FF; 
    text-shadow: 0 0 8px rgba(255, 0, 255, 0.8);
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
    height: 20%;
}
.button-container img
{
    width: 60px;
    height: auto;
}

#playerForm {
    margin: 8%;
}

#playerForm button {
    margin-top: 8%;
}


.game-selection-item:hover {
    transform: scale(1.05); 
}

.select-game button {
    background-color: transparent; 
    border: none;
    box-shadow: none;
    width: 80%;
    padding: 0;
    height: auto;
}

.button-image-select {
    width: 80%;  
    height: auto;
    border-radius: 5px; 
}




@media (max-width: 768px) {
    .menu h1 {
        font-size: 8vw; 
    }
    
    .menu h2 {
        font-size: 4vw; 
    }

    .background-form {
        width: 90vw; 
        height: 80vh; 
    }

    #startGameBtn {
        width: 8vw; 
        height: 8vw; 
    }

    #startGameBtn img {
        width: 40vw; 
    }
}

@media (max-width: 480px) {
    .menu h1 {
        font-size: 7vw; 
    }
    
    .menu h2 {
        font-size: 3.5vw;
    }

    .form-control {
        padding: 3vw; 
    }

    .background-form h2 {
        font-size: 4.5vw; 
    }

    .form-starmenu button {
        font-size: 3.5vw;
    }
}
