body {
    background: url('../assets/tijolos3.png') no-repeat center center fixed; 
    background-size: cover;
    color: #fff; 
    font-family: 'Press Start 2P', cursive; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-shadow: #0a0a0a;
}

header {
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: rgba(66, 118, 133, 0.13);
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}

.logo img {
    width: 80px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
}


nav ul li {
    margin: 0;
    position: relative; 
}


.btn-header {
    padding: 2px; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; 
    background-color: transparent;
    border: none;
    color: #ffcc00; 
    text-align: center;
    text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00;
    transition: background-color 0.3s, transform 0.3s; 
    width: 60px; 
    height: 60px;
}

.btn-header img {
    top: 5%;
    width: 30px; 
    height: auto; 
}

#userAvatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

#userAvatar img {
    width: 90%;
    height: auto;
}

.btn-header:hover {
    background-color: rgba(177, 56, 56, 0.3);  
    transform: scale(1);
}


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5);
    padding: 5px;
}



#text-footer {
    color: #ff3399;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 5px #e330c5, 0 0 10px #11999e;
    line-height: 1.5;
    margin-top: 5px; 
}

#match-footer {
    display: block;
    color: #33f1ff;
    font-family: 'Press Start 2P', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 5px #e330c5, 0 0 10px #11999e;
    line-height: 1.5;
}


.hidden {
    display: none;
}
button
{
    background: #2bcfd4;
}

#languageDropdown {
    position: relative;
}

#languageList {
    position: absolute;
    top: 80%;
    right: -40%;
    border-radius: 5px;
    padding: 5px;
    list-style: none;
    width: 90px;
    flex-direction: column;
    background-color: rgba(218, 211, 211, 0.048); 
}

#languageList li {
    display: flex; 
    align-items: center; 
    padding: 5px;
    cursor: pointer;
    color: #fff;
    transition: background-color 0.3s;
    justify-content: left; 
}

.language-flag {
    width: 20px;
    height: auto;
    margin-right: 10px; 
}

#languageList li:hover {
    background-color: #747474;
}

#flagIcon {
    height: 30px;
    width: auto;
}



