body {
    background: url('../assets/tijolos3.png') no-repeat center center fixed; 
    background-size: cover;
    color: #fff; 
    font-family: 'Press Start 2P', cursive; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; 
    background-color: rgba(241, 166, 213, 0.13);
    z-index: 1000;
}

.logo img {
    width: 80px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    align-items: center;
}

nav ul li {
    margin: 0;
}

.btn-header img
{
    width: 60px;
    height: 60px;
}

#startBtn {
    position: absolute;
    top: 50%; 
    right: 20px; 
    transform: translateY(-50%); 
    width: 60px; 
    height: 60px; 
}


.btn-header {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3%;
    background-color: transparent;
    border: none;
    color: #ffcc00; 
    text-align: center;
    text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 20px #ffcc00, 0 0 40px #ffcc00;
}

.btn-header:hover {
    background-color: rgba(0, 0, 0, 0.3);  
    transform: scale(1.05);
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    color: #ff3399; 
    text-shadow: 0 0 5px #ff3300, 0 0 10px #ff3300, 0 0 20px #ff3300, 0 0 40px #ff3399, 0 0 80px #ff3399;
    padding: 10px;
    text-align: center;
    height: 20px;
}

#text-footer {
    color: #fff; 
    font-family: 'Press Start 2P', cursive; 
    font-size: 12px; 
}


.btn {
    font-family: "VT323", monospace;
    font-size: 30px;
    background-color: #0ec0c04f; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px 10px;
    margin: 10px 0; 
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    width: 30%; 
    transition: background-color 0.3s ease; 
    border: 2px solid #ff00ff44;
    text-shadow: none;
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}
.btn:hover {
    background-color: #b300b3; 
}

h1, h2 {
    text-align: center;
    font-family: 'Press Start 2P', cursive; 
}


.hidden {
    display: none;
}








