.user-panel {
    background: linear-gradient(135deg, #1d1f21, #111);
    padding: 5vw;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.7);
    width: 70vw;
    height: 85vh;
    max-height: 80vh;
    margin: auto;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    overflow: hidden;
}

.user-panel h2 {
    font-size: 1.5vw;
    color: #aa00ff; 
    text-align: center;
    text-shadow: 0 2px #aa00ff, 0 0 8px rgba(170, 0, 255, 0.7);
    margin-top: 0.5vh;
    margin-bottom: 1vh;
}

.user-panel p {
    margin: 8px 8px;
    line-height: 1.5;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}

.user-panel .btn {
    background: linear-gradient(145deg, #00FFFF);
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin: 2% 0.5%;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.6), 0 0 12px rgba(255, 0, 255, 0.3);
}

.user-panel .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.9), 0 0 25px rgba(255, 0, 255, 0.6);
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
    transition: transform 0.3s;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.avatar:hover {
    transform: scale(1.05);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.close-btn:hover {
    color: #ff0000;
}

.profile-content {
    display: flex;
    
    gap: 60px;
    width: 100%;
    margin-bottom: 20px;
    align-items: center;
}

.btn-progress-bar {

    display: none;
}
.info{
    justify-content: left;
}

.info, .progression {
    width: 40%;
    height: 40%;
    margin-right: 10%;

}

.progression .progress-bar {
    justify-content: right;
    border: 1px solid #aa00ff;
    border-radius: 8px;
    padding: 2%;
    font-family: 'Press Start 2P', cursive;
    color: #aa00ff;
    text-shadow: 0 0 6px #aa00ff;
    margin-top: 2%;
    cursor: pointer;
    transition: background 0.3s ease;
}

.progression .progress-bar:hover {
    background: rgba(195, 71, 233, 0.2);
}

.info {
    width: 40%;
    padding: 1%;
    text-align: left;
    color: #fff;
    position: relative;
}

.info h2 {
    color:#aa00ff;
    font-size: 20px;
    margin-bottom: 15px;
    
    text-align: center;
    animation: neon-pulse 1.5s infinite alternate;
}

p {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
    position: relative;
    padding-left: 30px;
    transition: all 0.3s ease;
}

.info p:hover {
    color: #aa00ff;
    text-shadow: 0 0 5px #aa00ff;
    transform: scale(1.05);
}

@keyframes neon-pulse {
    0%, 100% {
        text-shadow: 0 0 10px rgba(157, 4, 196, 0.7), 0 0 20px rgba(0, 255, 153, 0.5);
    }
    50% {
        text-shadow: 0 0 15px rgba(157, 4, 196, 0.7), 0 0 30px rgba(0, 255, 153, 0.7);
    }
}

.all-btn {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.all-btn .btn {
    width: calc(50% - 20px);
    text-align: center;
    padding: 12px;
    margin: 10px;
    background: linear-gradient(145deg, #00FFFF, #cc00cc);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.6), 0 0 12px rgba(255, 0, 255, 0.3);
}

.all-btn .btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.9), 0 0 25px rgba(255, 0, 255, 0.6);
}

#updateProfileSection {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    padding: 20px;
}

#updateProfileSection h2 {
    margin-bottom: 20px;
    font-size: 26px;
    color: #aa00ff; /* Cor roxa neon */
    text-shadow: 0 0 8px #aa00ff, 0 0 15px rgba(170, 0, 255, 0.7);
}

#updateProfileSection form {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#updateProfileSection input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.281);
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: border 0.3s, box-shadow 0.3s;
}

#updateProfileSection input:focus {
    outline: none;
    border: 1px solid #00ff99;
    box-shadow: 0 0 10px #00ff99;
}

#updateProfileSection button {
    background: linear-gradient(145deg, #00FFFF, #cc00cc);
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.6), 0 0 12px rgba(255, 0, 255, 0.3);
    width: 10%;
}

#updateProfileSection button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.9), 0 0 25px rgba(255, 0, 255, 0.6);
}

@media (max-width: 1300px) {
    .user-panel {
        width: 98vw;
        font-size: 12px;
        padding: 10px;
        align-items: flex-start; 
    }

    .profile-content {
        flex-direction: column;
        align-items: flex-start; 
        gap: 10px;
    }

    .avatar {
        width: 80px;
        height: 80px;
        align-self: flex-start; 
    }
    
    .all-btn .btn {
        align-self: flex-start; 
        font-size: 12px; 
        padding: 2px; 
        margin: 2px; 
        box-shadow: 0 0 6px rgba(255, 0, 255, 0.5), 0 0 10px rgba(255, 0, 255, 0.2);
    }

    .all-btn .btn:hover {
        transform: scale(1.05);
        box-shadow: 0 0 12px rgba(255, 0, 255, 0.8), 0 0 18px rgba(255, 0, 255, 0.5);
    }

    #updateProfileSection {
        width: 100%;
    }

    
    .btn-progress-bar {
        display: block;
    }

    
    .progress-bar {
        display: none;
    }
}