<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>3D Pong</title>
    <style>
        body {
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            overflow: hidden;
            background-color: #000;
        }
        canvas {
            display: block;
            width: 90vw;
            height: 80vh;
            max-width: 90%;
            max-height: 80%;
            border: 2px solid white;
        }
    </style>
</head>
<body>
    <script>
        console.log("entrei html");
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="/frontend/js/components/pong/3dpong.js"></script>
</body>
</html>
